<div id="page-header" class="clearfix">
    <div class="page-header">
        <h2>Produtos</h2>
    </div>
    <div class="header-stats">
        <div class="spark clearfix">
            <div class="spark-info"><span class="number">2345</span>Visitors</div>
            <div id="spark-visitors" class="sparkline"></div>
        </div>
        <div class="spark clearfix">
            <div class="spark-info"><span class="number">17345</span>Views</div>
            <div id="spark-templateviews" class="sparkline"></div>
        </div>
        <div class="spark clearfix">
            <div class="spark-info"><span class="number">3700$</span>Sales</div>
            <div id="spark-sales" class="sparkline"></div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="panel panel-default plain">
            <div class="panel-heading">
                <h4 class="panel-title">Produtos</h4>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt vitae ullam distinctio tempora omnis? Sunt delectus sequi enim, quas, animi molestias amet rem nobis ea commodi dolorum, quia ipsa dolore.</p>

            </div>
        </div>

    </div>
</div>